@font-face {
    font-family: Hikour;
    src: url("../fonts/hikou/Hikou Regular.otf");
}

@font-face {
    font-family: Hikour-Inline;
    src: url("../fonts/hikou/Hikou Inline.otf");
}

:root {
    --dark-slate-gray: #255957;
    --teal-blue: #437C90;
    --beige: #EEEBD3;
    --pumpkin: #FC7A1E;
    --metallic-sunburst: #A98743;
    --maize-crayola: #F7C548;
}

* {
    font-family: Hikour;
}

body {
    margin: 0;
    padding: 0;
    background: var(--beige);
    background-image: url("../images/main/body-background.jpg");
    display: flex;
    flex-direction: column;
}

/*HEADER*/
header {
    background: var(--dark-slate-gray);
    color: var(--beige);
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: var(--pumpkin);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-logo h1{
    font-family: Hikour-Inline;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(1);
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.98);
        color: var(--beige);
    }

    80% {
        transform: scale(0.98);
        color: var(--beige);
    }

    85% {
        transform: scale(1);
        color: var(--pumpkin);
    }


    90% {
        transform: scale(0.98);
        color: var(--beige);
    }

    95% {
        transform: scale(1);
        color: var(--pumpkin);
    }

    100% {
        transform: scale(0.98);
        color: var(--beige);
    }
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li{
    margin: 5px;
    margin-left: 10px;
    position: relative;
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
}

.highlight {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.highlight:hover {
    background: url("../images/header/brush_stroke.png");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

header nav ul li a:visited {
    color: var(--beige);
}

header nav ul li a:hover {
    color: var(--pumpkin);
}

header .header-login {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
    font-size: 12px;
}

header .header-login div{
    margin-right: 5px;
}

header .header-login img {
    height: 15px;
    margin-top: 2px;
}

/*MAIN*/
main {
    width: 80%;
    background: var(--teal-blue);
    align-self: center;
    display: flex;
    flex-direction: column;
}

main section {
    width: 90%;
    align-self: center;
}

#sec-1 {
    display: flex;
    flex-direction: column;
}

.cropped-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: transform .2s;
}

main section article .article-content .cropped-img {
    float: right;
    margin-left: 10px;
}

main section article .article-content .cropped-img img {
    width: 400px;
    transition: transform 2s;
}

main section article .article-content .cropped-img img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

/*FOOTER*/
footer {
    background: var(--dark-slate-gray);
    color: var(--beige);
    border-top: solid;
    border-top-width: 5px;
    border-top-color: var(--pumpkin);
}